error.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <xs:schema attributeFormDefault="unqualified"
     elementFormDefault="qualified"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     targetNamespace="http://www.quantel.com/qstack/rasotwo">
  <xs:element name="error">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="statusCode" type="xs:integer"/>
        <xs:element name="statusCodeMeaning" type="xs:string"/>
        <xs:element name="message" type="xs:string"/>
      <xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>